.hover-button .hover-button--on,
.hover-button:hover .hover-button--off {
  color: white;
}

.hover-button:hover .hover-button--on {
  color: green;
}

.header{
  height: 50px;
  margin-bottom: 40px;
}